<!DOCTYPE html>
<html lang="en-US">

<script>
    var app = angular.module("RecipeBox", []);
    app.controller("myCtrl", function ($scope) {
        $scope.products = ["Pasta", "Bread", "Chili"];
        $scope.addItem = function () {
            $scope.products.push($scope.addMe);
        }
    });
</script>
<head>
    <meta charset="utf-8" />
    <title>Recipe Box an Angular Project</title>
</head>
<body>

    <p> ng-bind="name"</p>


    <div ng-app="">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
        <h2> Which recipe are you looking for: <input type="text" ng-model="name"></h2>
    </div>
</body>
</html>